body {
    padding-top: 70px;
}
#USMap {
    width: 510px;
    height: 300px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.center-table {
    font-size: 15px;
    margin: auto;
}

#tuitionRangeSlider {
    width: 200px;
}

#searchOptions {
    font-size: 14px;
    line-height: 140%;
    font-weight: 0;
}



#compareButtonGroup {
    width: auto;
}

#dataTableContainer {
    mid-width: 1000px;
}

#dataTableContainer table {
    font-size: 11px;
}

#dataTableContainer td,th {
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}
/*
#dataTableContainer th {
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}*/

table.table thead .sorting,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }